$menu-sidebar: #37A033;
$round-greeting: #37A033;
$icon-sidebar: #fff;
$icon-header-primary: #2F9E41;
$icon-header-second: #D9D9D9;
$primary-color: #2F9E41;
$link-color: #37A033;
$title-color: #3E3F40;
$description-color: #949799;
$aside-background: #F4F4F4;
$days-color: #3E3F40;
$day-hover: #2F9E41;